/* Bannière */
.about-hero {
    position: relative;
    height: 60vh;
    width: 100%;
    overflow: hidden;
  }
  
  .hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .hero-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .hero-subtitle {
    font-size: 1.5rem;
    font-weight: 300;
  }
  .project-carousel {
    background-color: #f8f9fa; /* Couleur d'arrière-plan claire */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .carousel img {
    height: 400px;
    object-fit: cover;
  }
  
  .carousel-caption {
    background: rgba(0, 0, 0, 0.6); /* Fond semi-transparent */
    border-radius: 10px;
    padding: 10px;
  }
  
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .hero-title {
      font-size: 2rem;
    }
    .hero-subtitle {
      font-size: 1rem;
    }
  }
  
  /* Section animations */
  .about-section {
    padding: 60px 15px;
  }
  
  .section-title,
  .section-subtitle {
    margin-bottom: 20px;
    color: #2c3e50;
  }
  
  .team-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    transition: transform 0.3s;
  }
  
  .team-photo:hover {
    transform: scale(1.1);
  }
  