
   /* Style pour la galerie */
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 20px;
  margin-top: 50px; 
}

/* Style pour chaque rangée d'images */
.row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Espacement entre les rangées d'images */ 
 
}

/* Style pour les images */
.row img {
  width: 290px; /* Taille initiale des images */
  height: auto; /* Permet aux images de conserver leur proportion */
  margin: 0 10px; /* Espacement entre les images */
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
  transition: transform 0.3s ease; /* Animation de transition */
  
}

/* Animation au survol des images */
.row img:hover {
  transform: scale(1.05); /* Zoom au survol */
}
.cover {
  position: relative;
  width: 100%;
  height: 70vh; 
  background-color: blue;
  color: blue;
  overflow: hidden;
}

.cover-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.cover-title {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  text-align: center;
}
.fade-slide-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in, transform 1s ease-in;
}

.fade-slide-up.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Styles pour les résolutions de tablette */
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .row {
    flex-wrap: wrap; /* Permettre le retour à la ligne des éléments */
    justify-content: space-between; /* Répartir les éléments sur toute la ligne */
  }

  .row img {
    width: calc(50% - 20px); /* Utiliser la moitié de la largeur de la ligne avec un petit espacement */
    margin: 10px; /* Espacement égal autour de chaque image */
  }
  
} 


/* Media Query pour les appareils mobiles */
@media only screen and (max-width: 600px) {
  .row {
    flex-direction: column;
    align-items: center; /* Centrer les images horizontalement */
  }

  .row img {
    width: calc(100% - 20px); /* Utiliser toute la largeur disponible avec un petit espacement */
    margin: 10px; /* Espacement égal autour de chaque image */
  }  
}
